.image-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.ingredients {
    margin: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: auto auto;
    &__list {
        margin-left: 25%;
    }

    &__quantities {
        margin-left: 25%;
    }
}

.description-container {
    text-align: center;
}